<div class="info">
    <h1>Contact Page</h1>
    <form>
        <ul>
            <li><input type="text" id="full-name" placeholder="Full name"></li>
            <li><input type="text" id="email" placeholder="Emal"></li>
            <li><input type="text" id="subject" placeholder="Subject"></li>
            <li><input type="textarea" id="message" placeholder="Message"></li>
            <input type="submit" id="send" value="Send Data">
        </ul>
    </form>
    <div class="feedback"></div>
</div>
